html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #3A5BA0;
}

.grid__container {
    margin: 10rem auto;
    gap: 1.5rem;
    width: 50vw;
    display: grid;
    grid-template-areas: 'header header header right right'
                         'left left top top top'
                         'left left bottom bottom bottom';
    
}

.grid__container-1 {
    background-color: #F15412;
    height: 12rem;
    grid-area: header;
}

.grid__container-2 {
    background-color: #2196F3;
    height: 12rem;
    grid-area: right;
}

.grid__container-3 {
    background-color: #816797;
    height: 12rem;
    grid-area: left;
}

.grid__container-4 {
    background-color: #AEDBCE;
    height: 5rem;
    grid-area: top;
    
}

.grid__container-5 {
    background-color: #AEDBCE;
    height: 5rem;
    grid-area: bottom;
}